<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

	<div class = "container">
		<div class = "row">
			<h1> List Students </h1>
			</div>
			<table class = "table table-striped table-bordered">
				<thead class = "table-dark">
					<tr>
						<th> Student First Name</th>
						<th> Student Last Name</th>
						<th> Student Email </th>
						<th> Student Actions </th>
					</tr>
				
				</thead>
				
				<tbody>
					<tr th:each = " student: ${students}"> 
					<!-- th is for thymeleaf and each is added so that we can use to iterate over a list of students -->
					<!-- ${} this is a thymeleaf annotation -->	
						<td th:text = "${student.firstName}"></td> <!-- th.text is for showing the texts -->
						<td th:text = "${student.lirstName}"></td>
						<td th:text = "${student.email}"></td>
					</tr>
				
				
				</tbody>
			
			</table>
	
	</div>
</body>
</html>